@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirBook';
    src: url('/fonts/avenir/Avenir-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserat/Montserrat-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }